{% extends "base.html" %}

{% block title %}橘猫猫=^•ω•^={% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block body %}        
<div class="row" style="margin-top: 20px;">
    <div class="col"></div>
    <div class="col-10">
        <ul class="question-ul">
            <li>
                <div class="side-question">
                    <img class="side-question-avatar" src="../static/images/Seele_preview@1cg4y1w7ya@1024--.511.7.jpg" alt="">
                </div>
                <div class="question-main">
                    <div class="question-title"><a href="#">猫猫是怎样炼成的</a></div>
                    <div class="question-content">传奇猫猫的成长之路 传奇猫猫的成长之路 传奇猫猫的成长之路
                        传奇猫猫的成长之路 传奇猫猫的成长之路 传奇猫猫的成长之路 传奇猫猫的成长之路
                        传奇猫猫的成长之路 传奇猫猫的成长之路 传奇猫猫的成长之路 传奇猫猫的成长之路
                        传奇猫猫的成长之路 传奇猫猫的成长之路 传奇猫猫的成长之路 传奇猫猫的成长之路
                        传奇猫猫的成长之路 传奇猫猫的成长之路 传奇猫猫的成长之路 传奇猫猫的成长之路
                        传奇猫猫的成长之路 传奇猫猫的成长之路 
                    </div>
                    <div class="question-detail">
                        <span class="question-author">Navicat</span>
                        <span class="question-time">{{time.Y}}年{{time.m}}月{{time.d}}日</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
